<html>
  <head>
    <style>
 h1 {font-family: Comic Sans MS; font-size:48pt;}
 .shapes { float:left;width:642px; border:solid 2px black;}
 .shape { float:left; border:solid 2px black; padding:5px;}
 .container { float:left; left:50%; position:absolute; margin-left: -320px;}
    </style>
  </head>
  <body>
    <div class='container'>
      <center><h1>BINGO</h1></center>
      <div class='shapes'>
        <% @shapes[0..5].each do |shape| %>
          <div class='shape'><img src="images/<%= shape %>.png" /></div>
        <% end %>
      </div>
     </div>
  </body>
</html>
